.input {
  align-items: center;
  display: flex;
  position: relative;
  width: 95%;
}

.input-box {
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 5px black;
  font-size: 24px;
  padding: 20px 30px;
  transition: 0.2s;
  width: 100%;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.submit-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  border: none;
  right: 0;
  font-size: 16px;
  background-color: rgb(124, 190, 248);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.submit-btn:hover {
  background-color: rgb(79, 173, 255);
}

.submit-btn:active {
  box-shadow: 0 0 5px black;
  transform: scale(0.8);
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
}

.single-todo-form {
  background-image: url("./images/todo-background.jpeg");
  border-radius: 5px;
  display: flex;
  margin-top: 15px;
  padding: 20px;
  width: 100%;
}

.single-todo-text {
  border: none;
  flex: 1;
  font-size: 18px;
  padding: 5px;
}

.icon {
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .submit-btn {
    right: 2%;
  }

  .input-box {
    width: 90%;
  }

  .todo-list {
    width: 90%;
  }

  .single-todo-form {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .submit-btn {
    right: 3%;
  }
}
